@import '../../../reset.scss';

.form-layout{
    margin: auto;
    width : 100%;
    background-color: #eee;
    padding-top : 30px;
}

.form-wrap {
    width : 40%;
    margin: auto;
}

.input-layout{
    width : 100%;
    padding : 10px;
    border-radius: 10px;
    display: block;
    margin : 10px 0px 10px 0px; 
}