.form-container{
    width : 100%;
    margin-left: 0px;
    padding : 30px; 
    padding : 30px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(190, 158, 146);
    position : absolute; 
}

.input-layout{
    width : 100%;
    padding : 10px;
    border-radius: 10px;
    display: block;
    margin : 10px 0px 10px 0px; 
}