.calender{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding : 30px;
    text-align: center;
}

.notice-list{
    width : 100%;
    border-top : 1px solid #eee;
    border-bottom : 1px solid #eee;
    margin : 5px 0px 5px 0px; 
    padding : 10px; 
}