@import '../../../reset.scss';

.container{
    width : 100%;
    margin: auto;
    border: 1px solid black;
    padding : 30px;
    border-radius: 5px;
    background-color: #f6f6f6;
    position : relative;
}